{% extends 'base.html.twig' %}

{% block title %}Affichage Photo Groupe
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('assets/css/photoGroupe.css') }}">
{% endblock %}

{% block body %}
	{% if app.user %}
		<div class="container-fluid text-center justify-content-around">
		<div class="container">
				<h1>Photos</h1>
				<a class="retour nav-link btn btn-light m-1 p-1 d-flex justify-content-center" href="{{ path('app_categories_index') }}">Retour catégories</a>
			<div class="row justify-content-around">
				{% for photoGroupe in photoGroupe %}
					<div class=" cadre">
						<img src="{{ asset('uploads/groupe/' ~ photoGroupe.photo) }}" class="card-img-top" alt="photo">
						<div class="card-body">
							<h4>{{ photoGroupe.titre | capitalize }}</h4>
							<p class="card-text">{{ photoGroupe.description | capitalize }}</p>
							<p class="prise">Photo prise le
								{{ photoGroupe.createdat | date('d/m/Y') }}
							</p>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
		</div>
	{% else %}
		<div class="container text-center justify-content-around">
			<div class="row">
				<div class="col-12">
					<h1>Vous devez être connecté pour accéder à cette page
						<a href="{{ path('app_login') }}">Se connecter</a>
					</h1>
				</div>
			</div>
		</div>
	{% endif %}
{% endblock %}
