{% extends 'base.html.twig' %}

{% block title %}Menu de la semaine
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('assets/css/menu.css') }}">
{% endblock %}

{% block body %}

	{% if app.user %}


		{% for repasHebdo in repasHebdo %}
			<div class="menu">
				<div class="container d-flex justify-content-between text-center ">

					<div class="row d-flex justify-content-around">
						<h1>Repas de la semaine</h1>

						<div class="col-12 justify-content-center d-flex">
							<p class="semaine sur-cadre" colspan="5">{{ repasHebdo.debutsem | date('d/m/Y') }}
								au
								{{ repasHebdo.finsem | date('d/m/Y') }}
							</p>

						</div>
						<div class="col-md-4 col-sm-4 col-lg-2 col-xl-2 cadre sur-cadre">
							<p class="jour">Lundi /
								{{ repasHebdo.lundi | date('d') }}</p>
							<p class="entree">Entrée</p>
							<p>{{ repasHebdo.lentree | capitalize }}</p>
							<p class="plat">Plat</p>
							<p>{{ repasHebdo.lplat | capitalize }}</p>
							<p class="dessert">Dessert</p>
							<p>{{ repasHebdo.ldessert | capitalize }}</p>
						</div>
						<div class="col-md-4 col-sm-4 col-lg-2 col-xl-2 cadre sur-cadre">
							<p class="jour">Mardi /
								{{ repasHebdo.mardi | date('d') }}</p>
							<p class="entree">Entrée</p>
							<p>{{ repasHebdo.mentree | capitalize }}</p>
							<p class="plat">Plat</p>
							<p>{{ repasHebdo.mplat | capitalize }}</p>
							<p class="dessert">Dessert</p>
							<p>{{ repasHebdo.mdessert | capitalize }}</p>
						</div>
						<div class="col-md-4 col-sm-4 col-lg-2 col-xl-2 cadre sur-cadre">
							<p class="jour">Mercredi /
								{{ repasHebdo.mercredi | date('d') }}</p>
							<p class="entree">Entrée</p>
							<p>{{ repasHebdo.merentree | capitalize }}</p>
							<p class="plat">Plat</p>
							<p>{{ repasHebdo.merplat | capitalize }}</p>
							<p class="dessert">Dessert</p>
							<p>{{ repasHebdo.merdessert | capitalize }}</p>
						</div>
						<div class="col-md-4 col-sm-4 col-lg-2 col-xl-2 cadre sur-cadre">
							<p class="jour">Jeudi /
								{{ repasHebdo.jeudi | date('d') }}</p>
							<p class="entree">Entrée</p>
							<p>{{ repasHebdo.jentree | capitalize }}</p>
							<p class="plat">Plat</p>
							<p>{{ repasHebdo.jplat | capitalize }}</p>
							<p class="dessert">Dessert</p>
							<p>{{ repasHebdo.jdessert | capitalize }}</p>

						</div>
						<div class="col-md-4 col-sm-4 col-lg-2 col-xl-2 cadre sur-cadre">
							<p class="jour">Vendredi /
								{{ repasHebdo.vendredi | date('d') }}</p>
							<p class="entree">Entrée</p>
							<p>{{ repasHebdo.ventree | capitalize }}</p>
							<p class="plat">Plat</p>
							<p>{{ repasHebdo.vplat | capitalize }}</p>
							<p class="dessert">Dessert</p>
							<p>{{ repasHebdo.vdessert | capitalize }}</p>
						</div>

					</div>
				</div>

			</div>


		{% endfor %}
	{% else %}
		<div class="container text-center justify-content-around">
			<div class="row">
				<div class="col-12">
					<h1>Vous devez être connecté pour accéder à cette page
						<a href="{{ path('app_login') }}">Se connecter</a>
					</h1>
				</div>
			</div>
		</div>
	{% endif %}
{% endblock %}
